#include "sun60i-a733.dtsi"

/ {
	compatible = "allwinner,a733-demo-aiot", "allwinner,a733";
	model = "Allwinner A733 Demo AIOT";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&pio {
	uart0_pins: uart0_pins {
		pins = "PB9", "PB10";
		function = "uart0";
		drive-strength = <10>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};
